<section id="contact-form" class="promo">
  <div class="container promo__container">
    <div class="promo__container-wrapper">
      <div class="promo__image">
        <img src="images/promo.png" alt="Доставка щастя" />
      </div>
      <div class="promo__content-wrapper">
        <div class="promo__content">
          <div class="promo__title-wrapper">
            <h2 class="promo__title"><strong>ПРОСТО</strong> РОБИМО НАШИХ ПАРТНЕРІВ ЩАСЛИВИМИ!</h2>
            <svg width="124" height="124" viewBox="0 0 124 124" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.4749 54.6727L55.399 76.1201C56.5197 77.3902 58.497 77.3999 59.6301 76.1409L107.97 22.4297"
                stroke="#22C55E"
                stroke-width="5.66734"
                stroke-linecap="round"
              />
              <path
                d="M99.6489 43.3249C104.32 52.7427 105.293 63.5693 102.374 73.6687C99.4549 83.7681 92.8569 92.4068 83.8815 97.8804C74.9061 103.354 64.2052 105.265 53.89 103.236C43.5749 101.207 34.3947 95.3865 28.1606 86.9216C21.9265 78.4567 19.0913 67.9628 20.2144 57.5102C21.3375 47.0577 26.3374 37.4056 34.2274 30.4583C42.1175 23.5111 52.3248 19.7732 62.8355 19.9822C73.3462 20.1911 83.3968 24.3318 91.0045 31.5872"
                stroke="#22C55E"
                stroke-width="5.66734"
              />
            </svg>
          </div>
          <form class="promo__form form">
            <div class="form__group">
              <input type="text" class="form__input" placeholder="Ваше ім’я" />
            </div>
            <div class="form__group">
              <input type="tel" class="form__input" placeholder="Номер телефону" />
            </div>
            <div class="form__button-wrapper">
              <button class="form__button button" type="submit">Надіслати</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
