<section class="reviews">
  <div class="container reviews__container">
    <div class="title__wrapper reviews__title-wrapper">
      <h2 class="title">Відгуки</h2>
    </div>
  </div>
  <div class="reviews__content">
    <div class="container reviews__container">
      <div class="swiper reviews__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide-content--reviews">
              <div class="reviews__text-wrapper">
                <div class="reviews__text-name-wrapper">
                  <span class="reviews__text-name">Сергій</span>
                  <span class="reviews__text-job">Керівник відділу врегулювання</span>
                </div>
                <div class="reviews__logo-wrapper">
                  <img src="../images/partner1.svg" alt="логотип клієнта" class="reviews__logo" />
                </div>
              </div>
              <div class="reviews__value">
                3 2022 р, співпрацюю з цією командою- тільки позитивні враження. Дякую! Дійсно завжди оперативно та
                якісно Дуже подобається що на будь який запит , ви завжди знаєте що запропонувати. Будь яке місто в
                Україні це дійсно ваша перевага .
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content--reviews">
              <div class="reviews__text-wrapper">
                <div class="reviews__text-name-wrapper">
                  <span class="reviews__text-name">Сергій</span>
                  <span class="reviews__text-job">Керівник відділу врегулювання</span>
                </div>
                <div class="reviews__logo-wrapper">
                  <img src="../images/partner1.svg" alt="логотип клієнта" class="reviews__logo" />
                </div>
              </div>
              <div class="reviews__value">
                3 2022 р, співпрацюю з цією командою- тільки позитивні враження. Дякую! Дійсно завжди оперативно та
                якісно Дуже подобається що на будь який запит , ви завжди знаєте що запропонувати. Будь яке місто в
                Україні це дійсно ваша перевага .
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content--reviews">
              <div class="reviews__text-wrapper">
                <div class="reviews__text-name-wrapper">
                  <span class="reviews__text-name">Сергій</span>
                  <span class="reviews__text-job">Керівник відділу врегулювання</span>
                </div>
                <div class="reviews__logo-wrapper">
                  <img src="../images/partner1.svg" alt="логотип клієнта" class="reviews__logo" />
                </div>
              </div>
              <div class="reviews__value">
                3 2022 р, співпрацюю з цією командою- тільки позитивні враження. Дякую! Дійсно завжди оперативно та
                якісно Дуже подобається що на будь який запит , ви завжди знаєте що запропонувати. Будь яке місто в
                Україні це дійсно ваша перевага .
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content--reviews">
              <div class="reviews__text-wrapper">
                <div class="reviews__text-name-wrapper">
                  <span class="reviews__text-name">Сергій</span>
                  <span class="reviews__text-job">Керівник відділу врегулювання</span>
                </div>
                <div class="reviews__logo-wrapper">
                  <img src="../images/review.svg" alt="логотип клієнта" class="reviews__logo" />
                </div>
              </div>
              <div class="reviews__value">
                3 2022 р, співпрацюю з цією командою- тільки позитивні враження. Дякую! Дійсно завжди оперативно та
                якісно Дуже подобається що на будь який запит , ви завжди знаєте що запропонувати. Будь яке місто в
                Україні це дійсно ваша перевага .
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination--reviews"></div>
    </div>
    <div class="swiper-button-prev swiper-button-prev--reviews">
      <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.292892 8.70711C-0.0976315 8.31658 -0.0976315 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM21 9H1V7H21V9Z"
          fill="#F7FAFF"
        />
      </svg>
    </div>
    <div class="swiper-button-next swiper-button-next--reviews">
      <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z"
          fill="#F7FAFF"
        />
      </svg>
    </div>
  </div>
</section>
